:root{
    --main-color: rgb(1, 68, 54);
    --secondary-color: rgb(7, 170, 2);
    --terciary-color: rgb(21, 255, 0);
    --descomplica: rgb(0, 255, 98);
    --discord: rgb(46, 47, 48);
    --hover-bg: rgb(220, 245, 242);
    --hover-color: rgb(4, 133, 156);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a{
    color: black;
}

body, html{
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

a.links{
    display: none;
}

.header-logo-span{
    font-size: 18px;
}