*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a{
    color: black;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    min-height: 100%;
    z-index: 2;
}